<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layouts/layoutPrincipal :: head">
		<title>Index</title>
	</head>
	
	<link th:href="@{/css/styleInicio.css}" rel="stylesheet">
<body>
	<header th:replace="layouts/layoutPrincipal :: header">
	</header>
	
	<h1>TU FIRMA , TU PLAN</h1>
	<p class="parrintro">
		Skyscrapers se adapta a las necesidades de cada negocio y para ello, ofrece soluciones de firma electr&oacutenica personalizadas. Y ahora, ante la situaci&oacuten excepcional que vivimos, te ofrecemos los mejores planes para tu negocio. 
		Tan sencillo que no necesitar&aacutes nada m&aacutes.
	</p>
	<section class="post-list">
	
		<div class="content">
		
		
			<article class="post">
			
			
				<div class="post-header">
					<div class="post-img-1"> </div>
				</div>
				
				<div class="post-body">
					<span>Skyscrapers </span>
					<h2> PLAN B&AacuteSICO</h2>
					<p>Cantidad de Firmas : 1000</p>
					<p>Precio : $ 2800</p>
					<a href="#" class="post-link"> Comprar</a>
				</div>
				
			</article> 	
			
				<article class="post">
			
				<div class="post-header">
					<div class="post-img-2"> </div>
				</div>
				
				<div class="post-body">
					<span>Skyscrapers </span>
					<h2> PLAN EST&AacuteNDAR</h2>
					<p>Cantidad de Firmas : 3000</p>
					<p>Precio : $ 8200</p>
					<a href="#" class="post-link"> Comprar</a>
				</div>
				
			</article> 	
			
				<article class="post">
			
				<div class="post-header">
					<div class="post-img-3"> </div>
				</div>
				
				<div class="post-body">
					<span> Skyscrapers </span>
					<h2> PLAN PREMIUM</h2>
					<p>Cantidad de Firmas : 5000</p>
					<p>Precio : $ 13700</p>
					<a href="#" class="post-link"> Comprar</a>
				</div>
				
			</article> 	
					
		</div>
	</section>
	
	
	<footer th:replace="layouts/layoutPrincipal :: footer">
	</footer>
</body>
</html>